#id {
    background-color: #eeeeee;
    width: 100%;
    height: fit-content;
}
.id2 {
    background-color: #ffffff;
    margin-top: 5px;
    border-radius: 3px;
    height: 50em;
}
#input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19vw;
    font-size: 9vw;
    font-family: 'Times New Roman', Times, serif;
    height: 10vw;
    background-color: rgb(236, 236, 236);
    border: transparent;
    border-radius: 7px;
}

.topName {
    background-color: #ffffff;
    border-radius: 3px;
    border-style: none;
    display: flex;
    justify-content:  center;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.share_button_div {
    display: flex; 
    justify-content: center;
    margin-top: 1em;
} 

.share_button {
    width: 10em;
    height: 2.5em;
    border-radius: 20px;
}

.share_svg {
    width: 1.5em;
    height: 1.5em;
}

.start {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    align-items: center;
    width: 56%;
    margin: auto;
    flex-direction: column;
}

.start-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.checkBox-conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}


/* CSS */
.button-main {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.43) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-main:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
.sign-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.conteiner {
    height: 90vh;
    width: 90vw;
    
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers {
    display: flex;
    flex-direction: row;
    margin-right: 6px;
    font-family:'Times New Roman', Times, serif;
    font-size: 14vw;
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw; 
}
.answerAndMark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 7vw;
}
.finish-butomn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.correct-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
}
.startInputs {
    width: 13vw;
    height: 4vw;
    border-radius: 3px;
    font-size: 3.5vw;
    margin-right: 3px;
}
@media (max-width: 450px) {
    .startInputs {
        width: 18 vw;
        height: 5vw;
    }
  }



.wrong-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    
}
   
   .hiden {
       display: none;
   }